temp
kb_temp 
__pycache__
fcoeff.py
*.zip
.DS_Store
*.o
git.sh
version*
**un~
clang_format.sh
docs/*
!docs/main.tex
!docs/refs.bib
!docs/splncs04.bst
!docs/main.pdf
examples/qe/silicon/*/*
!examples/qe/silicon/nscf/*.in
!examples/qe/silicon/ph/*.in
!examples/qe/silicon/Si.upf
!examples/qe/silicon/scf/*.in
!examples/qe/silicon/run.sh
!examples/qe/silicon/elph/*.in
tests/dft_qe/*/*
!tests/dft_qe/*/*.in
!tests/dft_qe/*/*.ini
__pycache__
tests/dft_qe/LICENSE
tests/TEST_RUN_OUTPUT
