*.lock
*.o
*modules.*
*modulesdep.list
*.f90
*.mod
*objects.mk
*/**/Makefile
*dyn_variables.mk
*.sw*
*_anchors.F
controllers/options/options_driver.c
controllers/defaults/DEFAULTS_driver.F
services/controllers/SERVICES_setup.F
services/units/UNITS_defaults.F
